<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Eventos</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Eventos</h1>

    <div id="app">
      <form v-on:submit="insertTask">
        <input
          type="text"
          ref="taskInput"
          placeholder="Escribe una tarea y pulsa Enter"
        />
      </form>
      <p>Tenemos {{ todos.length }} tareas</p>
      <ol>
        <li v-for="todo in todos">
          {{ todo }}
        </li>
      </ol>
      <div v-if="todos.length > 3">
        Tienes mucha carga de trabajo!!
      </div>
    </div>

    <footer>
      <a href="index.html">Volver</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          todos: ["Una cosa", "Otra cosa", "Algo más"]
        },
        methods: {
          insertTask: function(e) {
            e.preventDefault();
            this.todos.push(this.$refs.taskInput.value);
            this.$refs.taskInput.value = "";
          }
        }
      });
    </script>
  </body>
</html>
